@media only screen and (max-width: 375px) {
    
    .homeSection {
        height: fit-content;
    }

    .homeSection nav {
        height: 120px;
        padding: 0px 5%;
    }

    .homeSection nav .leftPart {
        width: 30%;
    }

    .homeSection nav .leftPart img {
        width: 100%;
        height: 100%;
    }
    
    .homeSection nav button {
        padding: 5px 35px;
    }

    .homeSection .homeContent {
        padding: 0px 5%;
        flex-direction: column;
    }
    
    .homeSection .homeContent .leftContent {
        width: 100%;
        padding: 10% 0%;
        height: fit-content;
        display: block;
        text-align: center;
    }

    .homeSection .homeContent .leftContent h1 {
        width: 100%;
        font-size: 1.7pc;   
    }
    
    .homeSection .homeContent .leftContent p {
        width: 100%;
        font-size: 15px;
        margin-top: 20px;
    }
    
    .homeSection .homeContent .leftContent button , .contentsSection .content-2 button{
        width: 80%;
        margin-top: 30px;
        padding: 10px 0px;
    }

    .homeSection .homeContent .rightContent {
        width: 100%;
        height: fit-content;
        padding: 5%;
    }
    
    .contentsSection {
        padding: 0px 5%;
        gap: 20px;
    }
    
    .contentsSection .content {
        height: fit-content;
        flex-direction: column-reverse;
        text-align: center;
        padding:  0%;
    }

    .contentsSection .content:nth-child(2) {
        flex-direction: column;
    }

    .contentsSection .content figure {
        width: 100%;
    }
    
    .contentsSection .content figcaption {
        width: 100%;
        padding: 10%;
    }

    .contentsSection .content figcaption h2 {
        margin-bottom: 20px;
    }

    .contentsSection .content-2 {
        width: 100%;
        height: fit-content;
        padding: 7% 0%;
        text-align: center;
    }

    .contentsSection .content-2 h2 {
        font-size: large;
        font-weight: 600;
    }
    
    .contentsSection .content-2 button {
        width: 70%;
    }

    footer {
        padding: 5%;
    }

    footer figure {
        margin-top: 120px;
        width: 50%;
        filter: grayscale(1) ;
        filter: invert(1);
    }
    
    footer .footerDetails {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
    }

    footer .footerDetails .contact {
        width: 100%;
    }
    
    footer .footerDetails .links {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    footer .footerDetails .links a {
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;
    }

    footer .footerDetails .icons {
        width: 40%;
        display: flex;
        justify-content: space-between;
        margin:  20px  auto;
    }
}